.team{
	max-width: 160px;
	float: left;
	margin-top: 15px;
	outline: 1px solid black;
	
}
.team li{
	padding: 10px;
}
.assigned{
	min-width: 100px;
	min-height: 100px;
	float: right;
	outline: 1px solid black;
}
.assigned li{
	padding: 10px;
}
button {
	margin-left: 80px;
}