<div class="list">
<ul class="heroes">
	<li *ngFor="let hero of team" (click)="onSelect(hero)">
		<span class="badge">{{hero.id}}</span> {{hero.name}}
	</li>
</ul>
</div>


<div class="block">

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name}} Profile</h2>
  <div><span>name: </span>{{selectedHero.name}}</div>
  <div><span>classification: </span>{{selectedHero.classification}}</div>
  <div><span>reputation: </span>{{selectedHero.reputation}}</div>
  <div><span>experience: </span>{{selectedHero.experience}}</div>
  <div><span>attribute: </span>{{selectedHero.attribute}}</div>
  <div><span>exhaustion: </span>{{selectedHero.exhaustion}}%</div>
  <div><span>status: </span>{{selectedHero.status}}</div>
</div>
</div>

